name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install SSHpass
      run: |
        sudo apt-get update
        sudo apt-get install -y sshpass

    - name: Install dependencies and build frontend
      run: |
        cd frontend
        npm install
        npm run build

    - name: Deploy to EC2
      env:
        SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
        SSH_USER: ${{ secrets.SSH_USER }}
        SSH_HOST: ${{ secrets.SSH_HOST }}
      run: |
        # Run deploy scripts on the server using SSHpass
        sshpass -p "${SSH_PASSWORD}" ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "bash /data/oramsys/deploy_backend.sh"

     
