name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Change directory to frontend
        run: cd frontend

      - name: List files for debugging
        run: ls -la frontend

      - name: Install dependencies
        run: cd frontend && npm ci

      - name: Build application
        run: cd frontend && npm run build

      - name: Install SSH client
        run: |
          sudo apt-get update
          sudo apt-get install -y openssh-client

      - name: Debug Environment Variables
        run: |
          echo "SSH_USER=${{ secrets.SSH_USER }}"
          echo "SSH_HOST=${{ secrets.SSH_HOST }}"

      - name: Deploy to EC2
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
        run: |
          echo "$SSH_PRIVATE_KEY" > staging-server-oramyses.pem
          chmod 600 staging-server-oramyses.pem
          ssh -i staging-server-oramyses.pem -o StrictHostKeyChecking=no "${SSH_USER}@${SSH_HOST}" "bash /var/www/deploy.sh"
